<!DOCTYPE HTML>
<html lang = "en" xmlns:th = "http://www.thymeleaf.org">

<head>
	<title>Employee Directory</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<body>

	<div class = "container">
	`	<h3>Employee Directory</h3>
		<hr>
		
		<p class = "h4 mb-4">Save Employee</p>
		
		<form action = "#" th:action = "@{/employees/save}" th:obect = "${employee}" method = "POST">
			<input type = "text" th:field="*{employee.firstName}" class = "form-control mb-4 col-4" placeholder = "First Name"> 
			<input type = "text" th:field = "*{employee.lastName}" class = "form-control mb-4 col-4" placeholder = "Last Name"/> 
			<input type = "text" th:field = "*{employee.email}" class = "form-control mb-4 col-4" placeholder = "Email"/> 
			<button type = "submit" class = "btn btn-info col-2">Save</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/employees/list}">Back to Employees List</a>
		
	</div>

</body>

</html>